#editor {
  border: 1px solid #dedede;
  height: 62vh;
  text-align: left;
}
#preview {
  border-radius: 6px;
  height: 85vh;
  border: 1px solid #dedede;
  text-align: left;
  padding: 20px;
  overflow: auto;
}
